@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.up-line{
  display: flex;
  justify-content: space-around;
}

.up-line span{
  color:#f1356d;

}
.song-preview {
  display: flex;
  justify-content: space-around;
  padding: 10px 30px;
  margin: 20px 20px;
  border-bottom: 1px solid #fafafa;
}
.song-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.song-preview p {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.home {
 
  margin: 0 auto;
  text-align: center;
}
.home form{
  margin: 20px;
  display: flex;
  align-content: space-around;
}
.home label {
  text-align: left;
  display: block;
}

.home input {
  width: 100px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

.home select{
  width: 20px;
  margin: 10px 0;
  border: 1px solid #ddd;
}
.home button {
  margin: 30px;
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.home form p{
  margin:10px;
}